<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login Page</title>
</head>
<body>
<h1>Login Page</h1>
<hr/>
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="User Name"/> <br/>
	<input type="password" name="password" placeholder="Password"/> <br/>
	<button>Login</button>
</form>
<a href="/oauth2/authorization/google">Google</a>
<a href="/oauth2/authorization/facebook">Facebook</a>
<a href="/oauth2/authorization/naver">Naver</a>
<a href="/oauth2/authorization/kakao">Kakao</a>
<br/><a href="/joinForm">Sign up</a>
</body>
</html>